body {
    font-size: 1.6rem;
}

img {
    position: relative ;
    width: 91%;
    height: 87%;
   
}
a {
    text-decoration: none;
    position: absolute;
  display: block ;
   left: 350px;
   bottom: 2px;
   height: 37px;
  width: 200px;
  background-color: #7189ff;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.bgm {
    position: absolute;
    margin: 0;
    right: 350px;
    color: blue;
    font-weight: 600;
}