body {
    font-size: 1.6rem;
    background-color: #f6f8f9;
}
.btn{
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    background-color: #7189ff;
    border-radius: 5px;
}
img {
    position: relative ;
    width: 91%;
    height: 87%;
  
}
.title {
    z-index: 2;
    width: 750px;
    height: 150px;
    position: absolute;
padding: -50px 0;
border-radius: 10px;
border: 2px solid #333;
background-color: #fff;
font-size: 5.6rem;
text-align: center;
}
.start_btn{
    text-decoration: none;
    width: 20%;
    position: absolute;
  display: block ;
  background-color: #7189ff;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  
}

.bgm {
    position: absolute;
    margin: 0;
    right: 350px;
    color: blue;
    font-weight: 600;
}
.inputname {
    text-align: center;
    color: #333;
    margin: 40% auto auto ;
}
.st_p{
    text-align: center;
    width:65% ;
    font-size: 1.4rem;
    color: #333;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #fff;
  
}
.name {
    width: 300px;
    height: 25px;
   
}
.text {
    width: 50%;
    height: 30px;
    margin: 0 auto;
}
.dicision {
    text-decoration: none;
   
    font-size: 1.5rem;
    width: 20%;
    padding: 5px;
    margin: 10px auto;
  display:block;
  background-color: #7189ff;
  color: #fff;
  border-radius: 15px;
  

}
.text {
    text-align: center;
}
.bad {
    text-decoration: none;
   
    font-size: 1.5rem;
    width: 20%;
    
    padding: 5px;
  display:block;
  margin: 10px auto;
  background-color: #bb2d23;
  color: #fff;
  border-radius: 15px;
  

}

.badend {
    background-color: #333;

}
.badp {
    border-radius: 10px;
border: 5px solid #fff;
color: #bb2d23;
width: 750px;
    margin: 30% auto 2%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.8rem;
text-align: center;
}
.badp2 {
    border-radius: 10px;
border: 5px solid #fff;
color: #fff;
width: 750px;
    margin: 30% auto 2%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2.0rem;
text-align: center;
}
.bad25 {
    opacity: .5;
    color: #333;
}
.true {
    text-decoration: none;
   
    font-size: 1.5rem;
    width: 20%;
    padding: 5px;
    margin: 10px auto;
  display: block ;
  background-color: #ffe660;
  color: #fff;
  border-radius: 15px;
  

}